
* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: tomato;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.container h1 {
    padding: 10px;
    color: white;
    margin: 10px;
    border: 5px solid aquamarine;
}